*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}

body
{
    width: 100vw;
    height: 100vh;
    font-size: .88rem;
    user-select: none;
    overflow-x: none;
    

}

.container
{
    background-color: #ffffffb7;
    display: grid;
    width:  96%;
    gap:   1.8rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}

h1
{
    font-weight: 800;
    font-size: 1.8rem;
}

h2
{
    font-size: 1.4rem;
}

h3
{
    font-size: .87rem;
}

h4
{
    font-size: .8rem;
}

h5
{
    font-size: .75rem;
}

small
{
    font-size: .75rem;
}

profile-photo
{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
aside
{
    
    height: 100vh;
}
aside .top
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}

aside .sidebar
{
    
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 1rem;
}

aside .h3
{
    font-weight: 500;
}

aside .sidebar a
{
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all .1s ease-in;
}

aside .sidebar a span
{
    font-size: 1.6rem;
    transition: all .1s ease-in;
}

aside .sidebar a:last-child
{
    position: absolute;
    bottom: 0;
    width: 100%;
}