<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drones</title>

    <!-- import icon pack -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- import font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='drones.css') }}">

    <script>
        function runScript() {
            fetch('/run-script')
                .then(response => response.json())
                .then(data => {
                    if (data.status === "Script executed successfully") {
                        alert("Script ran successfully!");
                    } else {
                        alert("Error: " + data.error);
                    }
                })
                .catch(error => {
                    alert("An error occurred: " + error);
                });
        }
    </script>

</head>
</head>
<body>
    <nav>
        <header class="header">

                <img src="" alt="" class="logo">

                <div class="searchbar">
                    <span class="material-symbols-sharp">search</span> 
                    <input type="search" name="search" id="search" placeholder="Search">  
                </div>

                <div class="profile">

                    <div class="themetoggle">
                        <span class="material-symbols-sharp active">light_mode</span>
                        <span class="material-symbols-sharp">dark_mode</span>
                    </div>
                    
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile Picture">
                    </div>
                
                    <h5>Name Surname</h5>
                    <span class="material-symbols-sharp arrow">keyboard_arrow_down</span>
                    <button id="menu-btn"><span class="material-symbols-sharp"> menu </span></button>

                 </div>


        </header>
     </nav>
    
    
    <main>

        <aside>
            
                <button id="close">
                    <span class="material-symbols-sharp">close</span>
                </button>

                <div class="dcards">

                    <h4 id="txt1">Drone: EF92EF</h4>
                    <h4 id="txt2">Drone: EF92C9</h4>
                    <h4 id="txt3">Drone: EF8D8D</h4>
                    <p id="sts1">not available!</p>
                    <p id="sts2">available!</p>
                    <p id="sts3">not available!</p>
                    <img src="{{ url_for('static', filename='images/drone.jpg') }}" alt="Logo">
                    <img src="{{ url_for('static', filename='images/drone.jpg') }}" alt="Logo">
                    <img src="{{ url_for('static', filename='images/drone.jpg') }}" alt="Logo">
            
                </div>

                <div>
                    <button id="one">Request Drone 1</button>
                    <button onclick="runScript()" id="two">Request Drone 2</button>
                    <button id="three">Request Done 3</button>
                </div>

                <div class="sidebar">
                    
                        <a href="{{ url_for('home') }}">
                            <span class="material-symbols-sharp active">dashboard</span>
                            <h4>Dashboard</h4>
                        </a>

                        <a href="#">
                            <span class="material-symbols-sharp">flight_takeoff</span>
                            <h4>Flights</h4>
                        </a>

                        <a href="#">
                            <span class="material-symbols-sharp">summarize</span>
                            <h4>Claims</h4>
                        </a>
                        
                        <a href="{{ url_for('drones') }}">
                            <span class="material-symbols-sharp">helicopter</span>
                            <h4>Drones</h4>
                        </a>

                        <a href="{{ url_for('clients') }}">
                            <span class="material-symbols-sharp"> groups</span>
                            <h4>Clients</h4>
                        </a>

                        <a href="{{ url_for('about') }}">
                            <span class="material-symbols-sharp"> help_center </span>
                            <h4>About</h4>
                        </a>

                        <a href="#">
                            <span class="material-symbols-sharp"> manufacturing </span>
                            <h4>Settings</h4>
                        </a>

                </div>


                

                <div class="alerts">

                    <span class="material-symbols-sharp">notifications</span>
                    <h4>Updates</h4>
                    <small>General</small>
                    <small>Security</small>
                    <a href="#">Update Now</a>

                </div>

               

                </div>

        </aside>
    </main>

    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>  <!-- IMPORT FOR FLASK TO IDENTIFY JS FILE FOR CHARTS AND THEME TOGGLE -->
</body>
</html>